*~
.DS_Store
.bin
.dir-locals.el
.idea
.parcel-cache
.vscode/settings.json

# environment handling: ignore all .env files except .env.sample and .env.test
.env*
!.env.sample
!.env.test

# build artifacats
build
build-local
dist
node_modules
coverage
yarn-error.log
